<div class="container">

<!-- Bootstrap site -->
<nav class="navbar navbar-fixed-top navbar-inverse">

    <div class="page-header">
      <h1 class="white-<header>

      </header>">My Bootstrap Site  <small>Joe Example</small></h1>
    </div>
</nav>


<!--Alert -->



  <div class="alert alert-success" role="alert">
    This is some alert message
    </div>


<!--Subtitle -->
  <div class="page-header">
    <h1>A Subtitle</h1>
  </div>

  <!--Tabbed Navigation -->
  <ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Home</a></li>
    <li role="presentation"><a href="#">Profile</a></li>
    <li role="presentation"><a href="#">Messages</a></li>
  </ul>
<p></p>
  <!--Breadcrumb Navigation -->
  <ol class="breadcrumb :before">
    <li><a href="#">Home</a></li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">Shoes</a></li>
    <li class="active">Loafers</li>
  </ol>

  <!--Boxed  Title -->
  <div class="jumbotron">
    <div class="container">
      <h1>This is some title</h1>
      <p class="lead">And this is some lead text</p>
    </div>
  </div>

<!--Some Panel -->

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Some Panel</h3>
    </div>
    <div class="panel-body">
    This is some text.
    </div>
  </div>


  <!-- 2 Colums of text -->
  <!-- Table -->
  <div class="row">
    <div class="col-md-6">
      This is some text that is in a column, and should only take up half of the space.
      <p></p>
      <p>It should be inside a row div.</p>

    </div>
    <div class="col-md-6">
      This is some text that is in a column, and should only take up half of the space.
      <p></p>
      <p>It should be inside a row div.</p>
    </div>
  </div>



  <!-- A Well -->
  <div class="well">This is in a well
  </div>

  <!-- 3 Colums of text -->
  <div class="row">
    <div class="col-md-4 text-right">
      This is some text that is in a column, and should only take up half of the space.

      <p>It should be inside a row div.</p>

    </div>
    <div class="col-md-4 text-center">
      This is some text that is in a column, and should only take up half of the space.

      <p>It should be inside a row div.</p>
    </div>

    <div class="col-md-4 text-left">
      This is some text that is in a column, and should only take up half of the space.

      <p>It should be inside a row div.</p>
    </div>
  </div>
  <!-- Table -->

    <!-- Table -->
    <table class="table table-bordered table-striped">
      <tr>
        <td class="col-md-6 text-left">Name</td>
        <td class="col-md-4 text-left">Age</td>
      </tr>
      <tr>
        <td class="col-md-6 text-left">Joe Example</td>
        <td class="col-md-4 text-left">34</td>
      </tr>
      <tr>
        <td class="col-md-6 text-left">Sue Example</td>
        <td class="col-md-4 text-left">27</td>
      </tr>
    </table>

  </div>
